@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.main-header {
  padding: 10px;
  border-bottom: 0.2em groove rgba(0, 0, 0, 0.1);
}

.category-container,
.product-info-container {
  padding: 5px;
  border-bottom: 0.2em groove rgba(0, 0, 0, 0.1);
}

.header-container,
.all-category-container,
.product-header-container {
  max-width: 1280px;
  margin: 0 auto;
}

.header-container,
.location-item-search,
.search-input,
.item-search-container,
.login-donate-container,
.all-category-container,
.product-container {
  display: flex;
  align-items: center;
}

.all-category-container {
  justify-content: space-between;
}

.logo-holder {
  width: 10%;
}

.location-item-search {
  width: 55%;
}

.main-image-logo,
.item-search-box {
  width: 100%;
}

.location-search-container {
  width: 40%;
}

.item-search-container {
  width: 60%;
}

.location-search-box,
.item-search-box-container {
  width: 90%;
}

.location-search-icon,
.item-search-icon {
  width: 10%;
}

.language-selection {
  width: 15%;
}

.login-donate-container {
  width: 30%;
}

.login-container,
.donate-container {
  width: 50%;
}

.location-search-box,
.item-search-box {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid orangered;
  outline: none;
}

.location-search-icon-btn,
.item-search-icon-btn {
  padding: 5px;
  background: orangered;
  color: white;
  font-size: 1rem;
  border: 1px solid orangered;
  cursor: pointer;
}

.language-selection-list,
.location-selection-list {
  padding: 5px;
  color: orangered;
  font-size: 1rem;
  border: 1px solid orangered;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.login-container a {
  color: orangered;
  font-weight: bold;
  font-size: 1rem;
}

.donate-container {
  border: 2px solid orangered;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.donate-container a,
.all-category-container a {
  text-decoration: none;
  color: orangered;
  font-size: 1rem;
  font-weight: bold;
}

.location-search-container {
  position: relative;
}

.autocom-box {
  position: absolute;
  top: 35px;
  left: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  background: white;
}

.search-input .autocom-box {
  overflow-y: auto;
  opacity: 1;
  pointer-events: none;
}

.autocom-box li {
  list-style: none;
  padding: 5px;
  width: 100%;
  font-size: 1rem;
  cursor: default;
  display: none;
}

.autocom-box li:hover {
  background: #efefef;
}
.search-input.active .autocom-box li {
  padding: 5px;
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.select-category {
  color: orangered;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
}

.product-info-container h2 {
  padding: 10px;
}
.card-container {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-container img {
  width: 100%;
}

.price {
  color: grey;
  font-size: 1rem;
}

.card-container button {
  border: none;
  outline: 0;
  padding: 1em;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.card-container button:hover {
  opacity: 0.7;
}
